.cost{
  margin-bottom: 10px;
  /*font-size: 20px;*/
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.calculator {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

h3 {
  text-align: center;
  font-size: 24px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: rgb(78, 79, 81);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(25, 133, 227);
}

.result {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.vybor {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



#total {
  font-weight: bold;
}
